.app-body {
    background-color: #d2ffff;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 500px;
    height: 400px;
    background-color: white;
    border-radius: 12px;

}