.row {
    display: flex;
    justify-content: space-between;
}

.photo {
    width: 300px;
    height: 300px;
    border: lightblue dashed;
    margin: 20px auto 20px auto;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}