<div class="photo" *ngIf="data" (click)="file.click()" [style]="'background-image: url('+ imgSrc +');'">
    <mat-icon class="text-white" *ngIf="!imgSrc && !uploading">photo_camera</mat-icon>
    <mat-spinner diameter="20" *ngIf="uploading"></mat-spinner>
</div>

<input type="file" accept="image/*" #file style="display: none" (change)="uploadFile($event)">


<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <mat-form-field appearance="outline" [style.width.%]="'49'">
          <mat-label>First Name</mat-label>
          <input matInput name="firstName" formControlName="firstName" />
        </mat-form-field>
        <mat-form-field appearance="outline" [style.width.%]="'49'">
          <mat-label>Last Name</mat-label>
          <input matInput name="lastName" formControlName="lastName" />
        </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline" [style.width.%]="'49'">
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob" [max]="maxDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline" [style.width.%]="'49'">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="male">
                Male
              </mat-option>
              <mat-option value="female">
                Female
              </mat-option>
              
            </mat-select>
          </mat-form-field>
    </div>

    <div class="row">
        <mat-form-field appearance="outline" [style.width.%]="'49'">
          <mat-label>Address</mat-label>
          <input matInput name="address" formControlName="address" />
        </mat-form-field>
        <mat-form-field appearance="outline" [style.width.%]="'49'">
          <mat-label>Total Mark</mat-label>
          <input matInput name="lastName" formControlName="totalMark" type="number" min="0"/>
        </mat-form-field>
    </div>

    <mat-form-field appearance="outline" [style.width.%]="'100'">
        <mat-label>Section</mat-label>
        <input matInput name="section" formControlName="section"/>
      </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="loading">{{data ? 'Save Changes' : 'Submit'}}</button>
  </form>