/* You can add global styles to this file, and also import other style files */
body, html {
    padding: 0 !important;
    margin: 0 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error {
    color: #ff3333;
    font-weight: bold;
}
