<div class="dashboard-body">
  <button mat-button color="primary" (click)="authService.logOut()">Logout</button>
  <div class="row">
    <button mat-flat-button color="primary" (click)="openDialog()">Add Student</button>
    <app-search-form></app-search-form>
  </div>

    <table mat-table [dataSource]="students" class="mat-elevation-z8">
      
        <!-- First Name Column -->
        <ng-container matColumnDef="fistName">
          <th mat-header-cell *matHeaderCellDef> First Name</th>
          <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>
        <!-- Last Name Column -->
        <ng-container matColumnDef="LastName">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
        <!-- Date of Birth Column -->
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell *matCellDef="let element"> {{element.dob | age}} </td>
        </ng-container>
        <!-- Gender Column -->
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>
        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>
        <!-- Section Column -->
        <ng-container matColumnDef="section">
          <th mat-header-cell *matHeaderCellDef> Section </th>
          <td mat-cell *matCellDef="let element"> {{element.section}} </td>
        </ng-container>
        <!-- Total Mark Column -->
        <ng-container matColumnDef="totalMark">
          <th mat-header-cell *matHeaderCellDef> Total Mark </th>
          <td mat-cell *matCellDef="let element"> {{element.totalMark}} </td>
        </ng-container>
        <!-- Crated At Column -->
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef> Crated At </th>
          <td mat-cell *matCellDef="let element"> <span timeago [date]="element.createdAt"></span> </td>
        </ng-container>
        <!-- Last Modified Column -->
        <ng-container matColumnDef="lastModified">
          <th mat-header-cell *matHeaderCellDef> Last Modified </th>
          <td mat-cell *matCellDef="let element"> <span timeago [date]="element.updatedAt"></span> </td>
        </ng-container>
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <div class="row">
                <button mat-button color="warn" (click)="deleteStudent(element)">Delete</button>
                <button mat-button color="primary" (click)="openDialog(element)">Detail</button>
              </div>
          </td>
        </ng-container>
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      
</div>
