.dashboard-body {
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  margin-top: 10px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}