<div>
    <h1>Are you sure?</h1>
    <div class="row">
        <button mat-button color="warn" (click)="deleteStudent()">yes</button>
        <button mat-button (click)="dialogRef.close(false)">No</button>
    </div>
</div>