<div class="login-form">
    <h1>Login</h1>
    <small *ngIf="errorMsg" class="error">{{errorMsg}}</small>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" [style.width.%]="100">
          <mat-label>Email</mat-label>
          <input matInput name="email" formControlName="email" required />
        </mat-form-field>
        <mat-form-field appearance="outline" [style.width.%]="100">
          <mat-label>Password</mat-label>
          <input matInput name="password" formControlName="password" type="password" required=""/>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" *ngIf="!loading">Login</button>
        <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
      </form>
</div>