.wrapper {
    width: 500px;
    
    position: relative;
}

.search-body {
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 12px;
    z-index: 99;
}

.search-item {
    padding: 20px;
    border-bottom: 1px lightgray solid;
    cursor: pointer;
}

.search-item:hover {
    background-color: lightgray;
}