<div class="wrapper">
    <form [formGroup]="form">
        <mat-form-field appearance="outline" [style.width.%]="'100'">
            <mat-label>Search</mat-label>
            <input matInput name="search" formControlName="q" />
          </mat-form-field>
    </form>
    <div class="search-body" *ngIf="results.length > 0">
        <div class="search-item" *ngFor="let result of results" (click)="detail(result)">
            {{result.firstName}} {{result.lastName}}
        </div>
    </div>
</div>